/* !!!!!!!!EACH PAGE!!!!! */

:root {
  --hover-color: #4d5ae5;
  --custom-link-color: #2e2f42;
  --background-color: #ffffff;
  --button-menu-color: #404bbf;
  --sec-back-color: #f4f4fd;
  --custom-menu-color: #434455;
  --custom-border-color: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--background-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hover-color);
  margin-right: 76px;
}
.logo:hover {
  color: var(--hover-color);
}
.logo-span {
  color: var(--custom-link-color);
}

.link {
  text-decoration: none;
  padding: 24px 0;
}
.list {
  list-style: none;
  display: flex;
  gap: 40px;
}
/* !!!MENU/ADDRESS!!! */
/* !MENU! */

.menu {
  display: flex;
  gap: 40px;
}
.li-header-first {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--custom-link-color);
}
a.hover-menu-fst {
  color: var(--custom-link-color);
}
a.hover-menu-fst:hover {
  color: var(--button-menu-color);
}
a.hover-menu-fst:focus {
  color: var(--button-menu-color);
}
.header-container {
  border-bottom: 1px solid var(--custom-border-color);
}
.div-bouth-container {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-bouth-nav {
  display: flex;
  align-items: center;
}
/* !MENU END! */

/*!ADDRESS! */
.address-header {
  font-style: normal;
}
.hover-menu-sec {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--custom-menu-color);
}
a.hover-menu-sec:hover {
  color: var(--button-menu-color);
}
a.hover-menu-sec:focus {
  color: var(--button-menu-color);
}

/*!ADDRESS END! */
/*!!!MENU/ADDRESS END!!!*/

/* FOOTER */
.footer {
  background-color: var(--custom-link-color);
}
.footer-span {
  color: var(--sec-back-color);
}
.footer-p {
  line-height: 1.5;
  color: var(--sec-back-color);
  letter-spacing: 0.02em;
}
/* FOOTER END */
/* !!!!!!!!EACH PAGE END!!!!! */

/* !!!!!!!!!INDEX!!!!!!!!!! */
/* !!MAIN!! */

.first-section {
  background-color: var(--custom-link-color);
  padding: 188px 0;
}
.h-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-color);
  max-width: 496px;
}
.first-section-button {
  background-color: var(--hover-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.first-section-button:hover {
  background-color: var(--button-menu-color);
}
.first-section-button:focus {
  background-color: var(--button-menu-color);
}
.sec-section-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--custom-link-color);
}
.sec-section-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--custom-menu-color);
}
.third-section-h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--custom-link-color);
}
.fourth-section {
  background-color: var(--sec-back-color);
}
.fourth-section-h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--custom-link-color);
}
.fourth-section-li-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--custom-link-color);
}
.fourth-section-li-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--custom-menu-color);
}
.fourth-section-li {
  background-color: var(--background-color);
}
/* !MAIN END! */
/* !!!!!!!!!INDEX END!!!!!!!!! */

/* !!!!!!!!PORTFOLIO!!!!!!!! */

.first-button-portfo {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hover-color);
  background-color: var(--sec-back-color);
  cursor: pointer;
}
.first-button-portfo:hover {
  color: var(--background-color);
  background-color: var(--button-menu-color);
}
.first-button-portfo:focus {
  color: var(--background-color);
  background-color: var(--button-menu-color);
}
.portfo-sec-list-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--custom-link-color);
}
.portfo-sec-list-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--custom-menu-color);
}
